<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../Vue/img/medicine.svg" type="image/x-icon">
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
    <link rel="stylesheet" href="../Vue/estilos/SegundaDose.css">
    <title>Segunda-Dose</title>
</head>
<body>
    <div id="app">
        <div class="title">
            <div class="titles">
                <img src="../Vue/img/seringa.png" alt="">
                <p>SAV - Sistema de Agendamento de Vacinas</p>
            </div>
            <h1>AGENDAMENTOS</h1>
        </div>
        </div>
        <p class="style">Pacientes Segunda-Dose</p>
        <input type="number" id="txtBusca" placeholder="Digite o Cpf do Paciente"/>
            <div class="descricao">
                <div>Nome</div>
                <div>Cpf</div>
                <div>Dose</div>
                <div>MarcaDaVacina</div>
                <div>DataDeNascimento</div>
                <div>DatadeVacinação</div>
                <div>LocaldeVacinação</div>
                <div>Foi Vacinado?</div>
        </div>
        <main class="tabela">
            <div id="Itens" class="informacoes">
            <% dado.forEach( function(dados){ %>
                <section class="<%= dados.Cpf %>">
                <div><%= dados.Nome %></div>
                <div><%= dados.Cpf %></div>
                <div><%= dados.dose %></div>
                <div><%= dados.MarcaDaVacina %></div>
                <div><%= dados.DataDeNascimento %></div>
                <div><%= dados.DatadeVacinação %></div>
                <div id="a1"><%= dados.LocaldeVacinação %></div>
                <div id="a2"><a href="/Vacinado2/<%= dados._id %>">Vacinar</a></div>
            </section>
           <% })%>
            </div>
        </main>
        <footer>
            <button id="s">Voltar</button>
        </footer>
    </div>
</body>
<script>

    redirect = document.querySelector('#s')

    mudar = () =>{
        window.location.href = '../tabela/'
    }
    redirect.addEventListener('click', mudar)

</script>
</html>